

page-authentification {


    .content{
        background-color: rgb(236, 236, 236);
        background:url("../../assets/imgs/success.jpg");
        background-size: cover !important;

    }

        .header{

            background:url("../../assets/imgs/log.png")no-repeat;
            background-size: cover !important;
        }

    .scol{

        color: #488aff;
        height:5em;
        font-size: 40px;
        font-weight: 15px;
        font-family: Arial;

    }

    .error{
        color:#f53d3d;
    }

    ion-item.bg-hidden {
        background-color: transparent;
      }

      .title{
        color: #ffffff;
      }
}
