<!--
  Generated template for the NewregisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.  *ngIf="navCtrl.canGoBack()"
-->
<ion-header >

    <ion-navbar color="mp-secondary">

        <ion-title>   <ion-icon name="md-person-add"></ion-icon>  Nouveau compte</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="newregis" center text-center >



        <h2 color="primary" text-center> formulaire d'inscription </h2>

        <ion-grid>

               <ion-row>

                <ion-col col-12 color="danger">
                    <p style="color: red;">*tous les champs sont obligatoires    <ion-icon name="help-circle"></ion-icon></p>
                </ion-col>

           </ion-row>

        </ion-grid>


    <ion-list text-wrap>

     <form [formGroup]="usr">

        <ion-item>
            <ion-label  floating color="primary"><ion-icon name="person"></ion-icon>  Identifiant</ion-label>
            <ion-input type="text" formControlName="nlogin" value=""   clearInput></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating color="primary"> <ion-icon name="key"></ion-icon> Mot de passe</ion-label>
            <ion-input type="password" formControlName="npd"   clearInput ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label  floating color="primary"><ion-icon name="person"></ion-icon>  Nom & prenom </ion-label>
            <ion-input formControlName="username" type="text" value=""   clearInput></ion-input>
        </ion-item>

        <ion-item>
                <!-- <ion-label  floating color="primary"> <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>   Date de naissance de l'eleve </ion-label> -->
                <ion-input formControlName="username" type="date" value=""  placeholder="date de naissance eleve" clearInput></ion-input>
            </ion-item>

        <ion-item>
            <ion-label color="primary">Genre</ion-label>
            <ion-select okText="Ok" cancelText="Annuler" >

              <ion-option value="M" selected="true">Masculin</ion-option>
                <ion-option value="F">Feminin</ion-option>

            </ion-select>
        </ion-item>
        <ion-item>

          <ion-label fixed color="primary">Etablissement </ion-label>


          <ion-select okText="Ok" cancelText="Annuler" >

                <ion-option *ngFor="let schl of getSchool" value="{{schl?.EtablissementID}}" >{{schl?.EtablissementText}}</ion-option>


            </ion-select>

        </ion-item>

        <ion-item>
            <ion-label fixed color="primary">Classe</ion-label>

            <ion-select okText="Ok" cancelText="Annuler" >

                <ion-option *ngFor="let class of getClass" value="{{class?.ClasseID}}" >{{class?.ClasseText}}</ion-option>


            </ion-select>

        </ion-item>

        <ion-item>
            <ion-label fixed color="primary">Paiement </ion-label>
            <ion-input type="text" value=""></ion-input>
        </ion-item>


        </form>

    </ion-list>

<hr>

    <div padding>
        <button (click)="Sharing()" ion-button round color="dark" >Suivant</button>
    </div>

</ion-content>
