<ion-header>

    <ion-navbar color="primary" *ngIf="search ">

        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>

        <ion-toolbar>
           <ion-title>Scolarys</ion-title>
        </ion-toolbar>

        <!-- <ion-buttons end>
            <button ion-button icon-only (click)="searchChange()">
              <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons> -->

    </ion-navbar>

    <ion-navbar *ngIf="!search " (click)="searchChange()">

        <!-- <ion-searchbar [(ngModel)]="query" (ionChange)="getItems()" placeholder="Recherche">
        </ion-searchbar> -->

    </ion-navbar>

      <!-- Segment in a form
      <form >
          <ion-segment color="danger">
            <ion-segment-button value="standard">
              Standard
            </ion-segment-button>

            <ion-segment-button value="sat">
              Satellite
            </ion-segment-button>
          </ion-segment>
        </form>
-->

</ion-header>

<ion-content class="content"  padding >


  <ion-fab  right bottom>

    <button ion-fab mini ><ion-icon name="add"></ion-icon></button>

    <ion-fab-list side="left" >

       <button ion-fab (click)="goToInfo()">    <ion-icon name="information-circle"></ion-icon></button>

       <button ion-fab (click)="goToAddrequest()">   <ion-icon name="chatbubbles"></ion-icon></button>

    </ion-fab-list>

  </ion-fab>

  <ion-list no-border>

    <ion-list-header color="mp-secondary">
      Matieres
    </ion-list-header>

    <ion-item (click)="goToCours()">
      <i class="fa fa-calculator fa-2x" aria-hidden="true"></i>
      Mathematiques
      <ion-note item-end>Mathematiques</ion-note>
    </ion-item>

    <ion-item (click)="goToCours()">
        <ion-icon name="logo-steam" item-start></ion-icon>
             Physiques
             <ion-note item-end>Sciences Physiques</ion-note>
    </ion-item>

    <ion-item (click)="goToCours()">
      <ion-icon name="color-fill" item-start ></ion-icon>
      Chimie
      <ion-note item-end>Chimie</ion-note>
    </ion-item>

    <ion-item (click)="goToCours()">
      <ion-icon name="leaf" item-start></ion-icon>
      Sciences de la vie
      <ion-note item-end>Sciences De La Vie</ion-note>
    </ion-item>

    <ion-item (click)="goToCours()">
      <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
      Geographie
      <ion-note item-end>Phenomenes terrestres</ion-note>
    </ion-item>

    <ion-item (click)="goToCours()">
      <i class="fa fa-history fa-2x" aria-hidden="true"></i>
      Histoire
      <ion-note item-end>etude du passe </ion-note>
    </ion-item>

    <ion-item (click)="goToCours()">
      <ion-icon name='book' item-start></ion-icon>
      Francais
      <ion-note item-end>Langue francaise</ion-note>
    </ion-item>

    <ion-item (click)="goToCours()">
      <i class="fa fa-language fa-2x" aria-hidden="true"></i>
      Anglais
      <ion-note item-end>Langue Anglaise</ion-note>
    </ion-item>



  </ion-list>



    <ion-list>
      <button ion-item *ngFor="let item of items"  class="list card animated bounceInLeft"  (click)="itemSelected(item)">
        {{ item?.matiereText }}
      </button>
    </ion-list>








    <!-- <div class="list card animated infinite tada">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div> -->





    <!-- <ion-card *ngFor="let item of modalitems" >



              <ion-item>
                    <ion-avatar item-start>
                      <img src="img/marty-avatar.png">
                    </ion-avatar>
                    <h2>Marty McFly</h2>
                    <p>November 5, 1955</p>
              </ion-item>


              <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-card-content>

              <ion-row>
                <ion-col>
                  <button ion-button icon-left clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Likes</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-left clear small>
                    <ion-icon name="ios-ribbon-outline"></ion-icon>
                    <div>4 Comments</div>
                  </button>
                </ion-col>

        </ion-row>

    </ion-card> -->


<!--- design grid -->





<!-- </ion-scroll> -->

</ion-content>
